

.votes { 
    border: 1px orange dotted;
}
.vote {
    border-radius: 0.5rem;
    background-color: var(--Very-Light-Gray);
  }
  .vote .up {
    color: var(--Light-Grayish-Blue);
    cursor: pointer;
  }
  .vote .down {
    color: var(--Light-Grayish-Blue);
    cursor: pointer;
  }
  .vote .num {
    color: var(--Moderate-Blue);
    font-weight: bold;
  }