:root {
  --main-bg-color: #F2F2F2;
  --Dark-Blue: #334253;
  --Grayish-Blue: #67727E;
  --Very-Light-Gray: #F5F6FA;
  --Light-Gray: #E9EBF0;
  --White: #FFFFFF;
  --Moderate-Blue: #5357B6;
  --Light-Grayish-Blue: #C5C6EF;
  --Soft-Red: #ED6368;
  --Pale-Red: #FFB8BB;
  --comment-bg-color: #FFF;
}

article.comment {
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  background-color: var(--comment-bg-color);
  margin: 10px 0;
}

body {
	background-color: var(--main-bg-color);
}


time.date {
  color: var(--Grayish-Blue);
}

h2.author {
  color: var(--Dark-Blue);
}

.vote {
  border-radius: 0.5rem;
  background-color: var(--Very-Light-Gray);
}
.vote .up {
  color: var(--Light-Grayish-Blue);
  cursor: pointer;
}
.vote .down {
  color: var(--Light-Grayish-Blue);
  cursor: pointer;
}
.vote .num {
  color: var(--Moderate-Blue);
  font-weight: bold;
}

.content {
  color: var(--Grayish-Blue);
}

 /* ##Device = Desktops */
 @media (min-width: 1439px) {
	.wrapper {
		padding: 32px 16px;		
	}
}



/* ##Device = Most of the Smartphones Mobiles */
@media (max-width: 1438px) {
	.wrapper {
		padding: 32px 16px;
	}
}
